h1 {
	color:red;
	text-decoration: underline;
}
h2 {
	color:green;
}
h4 {
	color:blue;
}

body {
  background-color: lightslategrey;
}
dl {
	color:purple;
}
b {
	color:yellowgreen;
}
h3 {
	color:lightcyan;
}
h4 {
   word-wrap: break-word;
   width: 200px;
}